

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(./font/lato_regular.woff) format('woff');
}


:focus {outline:none !important;}
::-moz-focus-inner {border:0 !important;}



body {
    margin: 0;
    padding: 0;
    background: #444 url(../img/bg.jpg);
    font-family: Lato, Helvetica, Arial, Verdana, sans-serif;
    color: white;
}


input[type='button'] {
    border: 2px solid #1e5799;
    color: rgb(220, 220, 220);
    background: linear-gradient(to bottom, #2f95e2 0%, #2989d8 34%, #207cca 61%, #1e5799 100%);
    border-radius: 6px;
    box-shadow: 0 0 3px rgba(143, 175, 211, 0.4);
    cursor: pointer;
    padding: 4px 5px;
}


input[type='button']:hover {
    border: 2px solid #2d6199;
    background: linear-gradient(to bottom, #429ddd 0%, #3f93d3 34%, #3b8ac6 61%, #2d6199 100%);
}

input[type='button']:active {
    color: rgb(200, 200, 200);
    border: 2px solid #1f446b;
    background: linear-gradient(to bottom, #2f6d98 0%, #2e6e9e 10%, #265282 100%);
}


input[type='text'] {
    border: 3px solid #1f446b;
    color: rgb(40, 40, 40);
    background: #ddd;
    border-radius: 6px;
    box-shadow: 0 0 3px rgba(143, 175, 211, 0.4);
    padding: 4px 5px;
}


input[type='text']:focus {
    box-shadow: 0 0 25px #1e5799;
}


input[type='checkbox'] {
    border: 2px solid #1f446b;
}


body #frequency_overlay {
    display: none;
    position: absolute;
    width: 1000px;
    height: 700px;
    /*background: rgba();*/
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    background: rgba(20, 20, 20, 0.85);
    left: 50%;
    margin-left: -500px;
    top: 50%;
    margin-top: -350px;
    z-index: 9999999;
    padding: 25px;
}


body #frequency_overlay h2 {
    margin: 0;
    text-align: center;
}


body #frequency_overlay #frequency_overlay_close_button {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: -35px -10px 0 0;
    background-image: url('../img/close_button.png');
    cursor: pointer;
}



body #frequency_overlay .content_wrapper {
    margin-top: 25px;
    overflow: hidden;
    height: 585px;
}


.nano .content { padding: 10px; }
.nano .pane   { background: rgb(255, 255, 255); }
.nano .pane .slider { background: rgb(114, 159, 207); }


body #frequency_overlay .content_wrapper .content svg {
    width: 950px;
    height: 645px;
    fill: rgb(255, 255, 255);
}


body #frequency_overlay .content_wrapper .content svg .item_title_text {
    fill: rgb(255, 255, 255);
}



body #frequency_overlay .sub_bar {
    margin-top: 30px;
    text-align: right;
}

body #frequency_overlay .sub_bar #frequency_export_button {
    margin-right: 30px;
}



body #graph_viz {
    position: absolute;
    margin: 0;
    padding: 0;
}


body #filter_sidebar {
    position: fixed;
    right: -265px;
    margin-top: -307px;
    top: 50%;
    width: 300px;
    height: 615px;
    border-radius: 20px 0 0 20px;
}

    #filter_sidebar .title {
        float: left;
        height: 100%;
        width: 35px;
        cursor: default;
        text-align: center;
    }

        #filter_sidebar .title span {
            display: block;
            margin-top: 300px;
            transform:rotate(-90deg);
            -moz-transform:rotate(-90deg);
            -webkit-transform:rotate(-90deg);
        }

    #filter_sidebar .content {
        float: left;
        width: 220px;
        height: 100%;
        margin-left: 40px;
        margin: 20px 0 0 20px;
    }


body #filter_sidebar {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    background: rgba(20, 20, 20, 0.85);
}


div#abstract_text_popup {
    display: none;
    background: rgba(50, 50, 50, 0.9);
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    font-size: 0.9em;
    text-align: center;
}


.clear_fix {
    clear: both;
}


svg *::selection,
.title span::selection,
foreignObject *::selection {
    background : transparent;
}

svg *::-moz-selection,
.title span::-moz-selection,
foreignObject *::-moz-selection {
    background:transparent;
}

svg *::-webkit-selection,
.title span::-webkit-selection,
foreignObject *::-webkit-selection {
    background:transparent;
}



svg g.node .topic {
    fill: rgb(114, 159, 207);
    stroke: rgba(255, 255, 255, 0.4);
    stroke-width: 2;
}


foreignObject body a {
    color: rgb(52, 101, 164);
}

foreignObject body h2.topic_name {
    margin: 15px 0;
    text-align: center;
}


foreignObject.main_content body div.abstract_text {
    font-size: 0.9em;
    width: 270px;
    text-align: center;
    margin: 0 auto;
}

foreignObject.main_content body div.abstract_text span {
    /*
    color: rgb(32, 74, 135);
    */
    color: rgb(52, 101, 164);
}


foreignObject.main_content body div.turn_over_placer {
    text-align: right;
    margin-top: 15px;
}

foreignObject.main_content body div.turn_over_placer a.turn_over_btn {
    margin-right: 10px;
}



foreignObject.expanded_content body div.frequency_single_diagram {
    height: 150px;
    width: 100%;
}

    foreignObject.expanded_content body div.frequency_single_diagram svg.topic_single_diagram {
        height: 150px;
        width: 620px;
        fill: rgb(255, 255, 255);
    }


foreignObject.expanded_content body div.topic_more_infos {
    height: 250px;
    width: 100%;
    margin: 25px 0;
}


    foreignObject.expanded_content body div.topic_more_infos div.authors_list,
    foreignObject.expanded_content body div.topic_more_infos div.documents_list,
    foreignObject.expanded_content body div.topic_more_infos div.links_list {
        height: 100%;
        float: left;
        margin-left: 16px;
        text-align: center;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }

        foreignObject.expanded_content body div.topic_more_infos div.authors_list div.content_wrapper {
            /*border-radius: 10px 0 0 10px;*/
            /*border-left: 1px solid rgba(255, 255, 255, 0.5);*/
        }
        
        foreignObject.expanded_content body div.topic_more_infos div.links_list div.content_wrapper {
            /*border-radius: 0 10px 10px 0;*/
            /*border-right: 1px solid rgba(255, 255, 255, 0.5);*/
        }

        foreignObject.expanded_content body div.topic_more_infos div div.content_wrapper {
            width: 190px;
            height: 220px;
            text-align: left;
            overflow: hidden;
            background: rgba(255, 255, 255, 0.1);
        }
    
    foreignObject.expanded_content body div.topic_more_infos div span {
        font-weight: bold;
        line-height: 30px;
        height: 30px;
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        background: rgba(0, 0, 0, 0.1);
    }
        
    
    foreignObject.expanded_content body div.topic_more_infos div div.content_wrapper div.content ul {
        margin: 0 0 15px 0;
    }
    
    foreignObject.expanded_content body div.topic_more_infos div.authors_list div.content_wrapper div.content a {
        color: rgb(52, 101, 164);
    }
        

foreignObject.expanded_content body div.turn_over_placer {
    text-align: right;
    margin-top: 15px;
}

foreignObject.expanded_content body div.turn_over_placer a.turn_over_btn {
    margin-right: 30px;
}

